<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Text utilities</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Text Utilities</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
  </nav>
  <div class="container">
    <h1>Welcome to text analyzers</h1>
    <form action="analyze/" method='POST'>
        <!-- used csrf to secure the sending of the data via POST request -->
        {% csrf_token %}
        <textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 1000px; height: 230px;"></textarea>

        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="removepunc" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Remove Punctuation</label>
          </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="fullcaps" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>
          </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="newlineremover" id="customSwitch4">
            <label class="custom-control-label" for="customSwitch4">New line</label>
          </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="spaceremover" id="customSwitch5">
            <label class="custom-control-label" for="customSwitch5">Space remover</label>
          </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" name="charcount" id="customSwitch6">
            <label class="custom-control-label" for="customSwitch6">Character counter</label>
          </div>

        <br><button type="submit" class="btn btn-primary">Analyze the text</button>
    </form>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>